/*---- FORM ----*/
.recipe-form_container{
    margin: 100px auto;
    /* background-color: bisque; */
    width: 70%
}
.recipe-form_container input:not(.recipe-specifications_container input),
.recipe-form_container textarea
{
    width:90%;
}

.button-group{
    text-align: center;
}
.button-group button{
    margin-left: 10px;
}
/*---- END FORM ----*/


/*---- INTRO ----*/
.introForm{
    margin: 200px auto;
}
.introForm label{
    display: inline-block;
}
.introForm input{
    display: inline-block;
}

.img-uploader{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 400px;
    /* background-color: transparent; */
    background-color: black;
    opacity: .5;
    z-index: 1;
}

.img-uploader .img-uploader-button{
    text-align: center;
    background-color:white;
    width: max-content;
    /* position: relative; */


}
.img-uploader-button button{
    color: black !important;
    z-index: 10;
}
.img-uploader-button input[type="file"]{
    display: none;

}
.img-preview{
    height: 100%;
    background-color: blueviolet;
    /* position: absolute; */
    opacity: 1;
    z-index: 2;
}
.img-preview img{
    height: 100%;
    /* width: 100%; */
}

/*---- END INTRO ----*/



/*---- DETAILS ----*/
.recipe-details__container{
    /* background-color: blueviolet; */
    margin: 200px auto;
}
.recipe-specifications_container{
    /* background-color: aqua; */
    height: 100%;
}
.recipe-specifications_container input{
    display: inline-block;
    margin-right: 0px;
}
/*---- END DETAILS ----*/



/*---- INGREDIENTS ----*/
.ingredients__container{
    /* text-align: center; */
    margin: 50px auto;
    background-color: burlywood;
    margin: 100px auto;
}

.ingredients__header{
    margin: 20px auto;
}
/*---- END INGREDIENTS ----*/



/*---- DIRECTIONS ----*/
.directions__container{
    margin: 100px auto;
    background-color: cadetblue;
}
/*---- END DIRECTIONS ----*/


/* 
 */
 a.animated-button.victoria-three {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-three:after {
	background: #D24D57;
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
	height: 140%;
	opacity: 1;
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: rgb(26, 189, 53);
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: rgb(56, 47, 190);
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}