<div class="recipe-create__wrapper">
    <div class="recipe-form_container">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <!---- Intro Section ---->
            <div class="row">
                <div class="col-md-7 ">
                    <!-- <div class="img__container"> -->
                        <!-- Recipe Img -->
                        <div class="img-uploader" [ngStyle]="{'opacity':(imgPreview)?1:.5, 'background-color': (imgPreview)?'transparent':'black'}">
                            <div class="img-uploader-button">
                                <button type="button" class="btn" (click)="filePicker.click()">
                                    <i class="fas fa-upload"></i> Upload Image
                                </button>
                                <input type="file" #filePicker (change)="onImagePicked($event)">
                            </div>
                            <div class="img-preview"
                            *ngIf="imgPreview !== '' && imgPreview && recipeForm.get('recipeImg').valid">
                            <img [src]="imgPreview" [alt]="recipeForm.value.recipeName">
                        </div>
                        </div>
                        
                    <!-- </div> -->
                </div>

                <div class="col-md-4 offset-1">
                    <!-- Recipe Name -->
                    <div class="mb-3">
                        <label for="recipeName" class="form-label">Recipe Name</label>
                        <input type="text" class="form-control" id="recipeName" formControlName="recipeName">
                        <p class="form-text">Tips: Make it descriptive, captivating and accurate</p>
                        <!-- <p *ngIf="recipeName.invalid && (recipeName.touched || recipeName.dirty)"> Please Add a Name to Your Recipe </p> -->
                    </div>

                    <!-- user Name -->
                    <div class="mb-3">
                        <label for="userName" class="form-label">By</label>
                        <input type="text" class="form-control" id="userName">
                        <p class="form-text">Tips: Make it descriptive, captivating and accurate</p>
                        <!-- <p *ngIf="recipeName.invalid && (recipeName.touched || recipeName.dirty)"> Please Add a Name to Your Recipe </p> -->
                    </div>

                    <!-- Created At -->
                    <div class="mb-3">
                        <label for="createdAt" class="form-label">Date</label>
                        <input type="text" class="form-control" id="createdAt">
                        <p class="form-text">Tips: Make it descriptive, captivating and accurate</p>
                        <!-- <p *ngIf="recipeName.invalid && (recipeName.touched || recipeName.dirty)"> Please Add a Name to Your Recipe </p> -->
                    </div>

                    <!-- Rate -->
                    <div class="mb-3">
                        <p>Rate: </p> <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <!---- End Intro Section ---->

            <!---- Recipe Details Section ---->
            <div class="recipe-details__container container">
                <div class="row">
                    <div class="col-md-8">
                        <!-- Recipe Details Section -->
                        <div class="recipe-description__container">
                            <!-- Recipe Short Description -->
                            <div class="mb-3">
                                <label for="recipeShortDescription" class="form-label">Brief Intro</label>
                                <input type="text" class="form-control" id="recipeShortDescription"
                                    placeholder="max 100 words " formControlName="briefIntro" />
                                <p class="form-text">
                                    Tips: short detailed description of why you think everyone
                                    should try it
                                </p>
                                <!-- <p *ngIf="briefIntro.valid" > </p> -->
                            </div>

                            <!-- Recipe Brief History -->
                            <div class="mb-3">
                                <label for="recipeHistory">Recipe History</label>
                                <textarea class="form-control" placeholder="Optional: background, culture, ...etc"
                                    id="recipeHistory" rows="10" formControlName="history"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Recipe Specifications Section-->
                    <div class="col-md-4">
                        <div class="mb-3" class="recipe-specifications_container">
                            <div class="mb-3">Recipe Specifications</div>
                            <table class="table">
                                <tr>
                                    <td>Prep Time</td>
                                    <td><input type="text" id="prepTime" class="form-control"
                                            formControlName="prepTime" /></td>
                                </tr>
                                <tr>
                                    <td>Cooking Time</td>
                                    <td><input type="text" id="cookingTime" class="form-control"
                                            formControlName="cookingTime" /></td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td><input type="text" id="totalTiming" class="form-control"
                                            formControlName="totalTiming" /></td>
                                </tr>
                                <tr>
                                    <td>Servings</td>
                                    <td><input type="text" class="form-control" formControlName="servings"
                                            id="servings" /></td>
                                </tr>
                            </table>
                            <div class="nutrition-facts-pointer text-center">
                                <a>Nutrition Facts</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Recipe Specifications Section-->
                </div>
            </div>
            <!---- End Recipe Details Section ---->


            <!---- Ingredients Section ---->
            <div class="ingredients__container container">
                <div class="ingredients__header text-center">
                    <h3>Ingredients</h3>
                </div>
                <div class="row ingredients__contents">
                    <div class="col-md-12">
                        <!--  *ngFor="let ingredientCtrl of controls; let i=index;" [formGroupName]="i" -->
                        <div class="row mb-3">
                            <div class="col-xs-8 col-md-8">
                                <input type="text" class="form-control" placeholder="Ingredient">
                            </div>
                            <div class="col-xs-2 col-md-3">
                                <input type="text" class="form-control" placeholder="Amount">
                            </div>
                            <div class="col-xs-1 col-md-1">
                                <button class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-md-12">
                        <button class="btn btn-primary" (click)="onAddIngredient()"> Add Ingredient
                        </button>
                    </div>
                </div>
            </div>
            <!---- End Ingredients Section ---->


            <!---- Directions Section ---->
            <div class="directions__container container">
                <div class="directions__header text-center">
                    <h3>Directions</h3>
                </div>
                <div class="row directions__contents justify-content-center">
                    <div class="col-md-12 mt-5">
                        <!--  *ngFor="let ingredientCtrl of controls; let i=index;" [formGroupName]="i" -->
                        <div class="row mb-5">
                            <div class="col-xs-4 col-md-4">
                                <label for="step">Step </label>
                                <input id="step" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="stepDetails"> Step Details </label>
                                <textarea id="stepDetails" rows="3" class="form-control">
                                </textarea>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-12">
                                <button class="btn btn-primary" (click)="onAddStep()"> Add Step
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---- End Directions Section ---->

            <div class="nutritionFacts container">
                <div class="row">
                    <div class="col-md-12">
                        <label for="nutritionInfo">Nutrition Info</label>
                        <textarea id="nutritionInfo" rows="2" formControlName="nutritionInfo"></textarea>
                    </div>
                </div>
            </div>

            <!---- Form Actions ---->
            <div class="form-actions__container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="button-group">
                            <button *ngIf="editMode" class="btn btn-success">
                                <i class="fas fa-edit"></i> &nbsp; Edit </button>
                            <button type="submit" *ngIf="!editMode" class="btn btn-success">
                                <i class="fas fa-save"></i> &nbsp; Save
                            </button>
                            <button class="btn btn-primary">
                                <i class="fas fa-share-square"></i> &nbsp; Reset
                            </button>
                            <button class="btn btn-warning">
                                <i class="fas fa-cloud"></i> &nbsp; Save Unfinished
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>