<div class="footer__wrapper">
    <div class="container">
        <div class="row footer-header">
            <div class="col-md-12">
                <h2>Dash Of Delish</h2>
            </div>
        </div>
        <div class="row footer__content">
            <div class="col-md-4 sponsors">
                <div class="footer-title"> Sponsors </div>
                <div class="content">
                    
                </div>
            </div>
            <div class="col-md-4 links">
                <div class="footer-title"> Learn More </div>
                <div class="content">
                    <ul>
                        <li>
                            <a > Subscribe For More </a>
                        </li>
                        <li>
                            <a > Customer Service </a>
                        </li>
                        <li>
                            <a > Careers </a>
                        </li>
                        <li>
                            <a > Advertise </a>
                        </li>
                        <li>
                            <a > Content Licening </a>
                        </li>
                        <li>
                            <a > Sitemap </a>
                        </li>
                    </ul>                    
                </div>
            </div>
            <div class="col-md-4 s-media">
                <div class="footer-title"> Connect </div>
                <div class="content">
                    <p>Follow Us</p>
                    <div class="social-media">
                        <a class="fab fa-twitter"></a>
                        <a class="fab fa-facebook-f"></a>
                        <a class="fab fa-instagram"></a>
                    </div>

                    <a class="btn btn-sm g-communitites">Global Communitites</a> 


                    <p><a href="#">Subscribe To Our Newsletter</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>
