.recipes-list__wrapper{
    background-color: rgb(135, 222, 147);
    height: 100%;
    padding: 5% 0;
}
.card__container{
    /* height: 200px; */
    background-color: blueviolet;
    /* justify-content: left !important; */
}
.card{
    margin: 5px 0px;
    height: 500px;
}
.card .img__container {
    height: 50%;
}
.card img {
    height: 100%;
}

.card-title__container{
    height: 30%;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-text__container{
    /* background-color: blueviolet; */
    height: 80%;
    font-size: 14px;
}
.card .card-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.card-footer{
    font-size: 14px;
}

.card-footer p{
    display: inline-block;
}

.card-footer p:last-of-type{
    text-align: right;
}

.card-footer .fas {
    color:rgb(230, 16, 16);
    padding: 2%;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius:50%;
    border:2px solid black;
    transition: all .6s;
  }
.card-footer .fas{
    cursor: pointer;
    font-size: 20px;
}

.card-footer .fas:hover {
    background-color: #333;
    border:2px double #333;
    opacity: .9;
    transform: rotate(360deg);
    box-shadow: 2px 2px 24px #fff;
}

/* 
 */
 .rate_container i{
     color: gold;
 }